node_modules/
**/node_modules/

.local/

dist/
**/dist/
.package/
**/.package/
release/
**/release/

*.log
*.stdout.log
*.stderr.log
__pycache__/
*.pyc

.DS_Store
Thumbs.db

.idea/
.vscode/

coverage/
*.tsbuildinfo
tmp/
.kiro
